=content_for :page_title do
  #{h @account.name} Transaction items

.row
  .col-md-12
    -if @account.commodities?
      %ul.nav.nav-tabs
        %li{role: 'presentation'}= link_to 'Holdings', holdings_account_path(@account), title: 'Click here to view holdings for this account.'
        %li.active{role: 'presentation'}= link_to 'Transactions', account_transaction_items_path(@account), title: 'Click here to view transaction items for this account.'

    %table#transaction_items_table.table.table-striped
      %tr
        %th.col-md-1 Index
        %th.col-md-1 Date
        %th.col-md-3 Description
        %th.col-md-3 Account
        %th.col-md-1.text-center Rec.
        %th.col-md-1.text-right Amount
        %th.col-md-1.text-right Balance
        %th.col-md-1.actions &nbsp;
      -@transaction_items.each_with_index do |item, index|
        %tr
          %td= item.index
          %td= format_date(item.transaction_date)
          %td= item.owning_transaction.description
          %td= other_account(item)
          %td.text-center= item.reconciled? ? 'X' : ''
          %td.text-right= format_currency(item.polarized_amount)
          %td.text-right= format_currency(item.balance)
          %td.actions
            .btn-group
              =edit_link edit_transaction_item_path(item), 'this transaction'
              =delete_link transaction_item_path(item), 'this transaction'

.row
  .col-md-4
    .btn-group
      =link_to 'Add', new_account_transaction_item_path(@account), class: 'btn btn-primary', title: 'Click here to add a transaction.'
      =link_to 'Back', entity_accounts_path(@account.entity), class: 'btn btn-default', title: 'Click here to return to the account list.'
      =link_to 'Reconcile', new_account_reconciliation_path(@account), class: 'btn btn-default', title: 'Click here to reconcile this account against a statement.'
  .col-md-8.text-right
    =will_paginate @transaction_items, renderer: BootstrapPagination::Rails
