%h2#page_title Transaction items

%table#transaction_items_table.list{cellspacing: 0, cellpadding: 0}
  %tr
    %th.transaction_date_cell Transaction date
    %th.description_cell Description
    %th.account_cell Account
    %th.reconciled_cell Rec.
    %th.amount_cell.number_column Amount
    %th.balance_cell.number_column Balance
    %th.actions &nbsp;
  -@transaction_items.each_with_index do |item, index|
    %tr{ class: ((index % 2) == 0) ? '' : 'alt_table_row' }
      %td.transaction_date_cell= format_date(item.transaction.transaction_date)
      %td.description_cell= item.transaction.description
      %td.account_cell= other_account(item)
      %td.reconciled_cell.check_column= item.reconciled? ? 'X' : ''
      %td.amount_cell.number_column= format_currency(item.polarized_amount)
      %td.balance_cell.number_column= format_currency(@balance += item.polarized_amount)
      %td.actions
        =render 'shared/delete_form', resource: item, url: transaction_item_url(item)
=form_tag(account_transaction_items_path(@account)) do
  %table.list_form{cellspacing: 0, cellpadding: 0}
    %tr
      %td.transaction_date_cell= text_field_tag 'transaction_item_creator[transaction_date]', format_date(@transaction_item_creator.transaction_date)
      %td.description_cell= text_field_tag 'transaction_item_creator[description]', @transaction_item_creator.description
      %td.account_cell= select_tag 'transaction_item_creator[other_account_id]', grouped_options_for_select(available_accounts(@account.entity), @transaction_item_creator.other_account_id)
      %td.reconciled_cell &nbsp;
      %td.amount_cell= number_field_tag 'transaction_item_creator[amount]', @transaction_item_creator.amount
      %td.balance_cell &nbsp;
      %td.actions &nbsp;
  =render "shared/errors", :resource => @transaction_item_creator
  .actions
    =submit_tag 'Save', class: 'save_button'
    =link_to 'Back', entity_accounts_path(@account.entity), class: 'back_button'
    =link_to 'Reconcile', new_account_reconciliation_path(@account), class: 'reconcile_button'