%h2#page_title #{h @account.name} Transaction items
-if @account.commodities?
  %ul#nav_3
    %li= link_to 'view Holdings', account_holdings_path(@account), title: 'Click here to view holdings for this account.'

%table#transaction_items_table.list{cellspacing: 0, cellpadding: 0}
  %tr
    %th.transaction_date_cell Transaction date
    %th.description_cell Description
    %th.account_cell Account
    %th.reconciled_cell Rec.
    %th.amount_cell.number_column Amount
    %th.balance_cell.number_column Balance
    %th.actions &nbsp;
  -@transaction_items.each_with_index do |item, index|
    %tr{ class: ((index % 2) == 0) ? '' : 'alt_table_row', onclick: 'toggleEditState' }
      %td.transaction_date_cell= format_date(item.transaction_item.transaction.transaction_date)
      %td.description_cell= item.transaction_item.transaction.description
      %td.account_cell= other_account(item.transaction_item)
      %td.reconciled_cell.check_column= item.transaction_item.reconciled? ? 'X' : ''
      %td.amount_cell.number_column= format_currency(item.transaction_item.polarized_amount)
      %td.balance_cell.number_column= format_currency(item.balance)
      %td.actions
        =link_to 'Edit', edit_transaction_item_path(item.transaction_item), class: 'edit_button', title: 'Click here to edit the transaction.'
        =render 'shared/delete_form', resource: item.transaction_item, url: transaction_item_url(item.transaction_item)
.actions
  =link_to 'Add', new_account_transaction_item_path(@account), class: 'add_button', title: 'Click here to add a transaction.'
  =link_to 'Back', entity_accounts_path(@account.entity), class: 'back_button', title: 'Click here to return to the account list.'
  =link_to 'Reconcile', new_account_reconciliation_path(@account), class: 'reconcile_button', title: 'Click here to reconcile this account against a statement.'
