%h2#page_title #{h @account.name} Holdings

%table#holdings_table
  %tr
    %th Symbol
    %th.number_column Value
  -@holdings.each do |holding|
    %tr
      %td= holding.commodity.symbol
      %td.number_column= format_currency(holding.current_value)
  %tr
    %td Commodity total
    %td.number_column= format_currency(@total_current_value)
  %tr
    %td Cash
    %td.number_column= format_currency(@account.balance)
  %tr
    %td Total value
    %td.number_column= format_currency(@total_current_value + @account.balance)
.actions
  =link_to 'Add', new_purchase_account_path(@account), class: 'add_button', title: 'Click here to purchase shares of a commodity.'
  =link_to 'Back', entity_accounts_path(@account.entity), class: 'back_button', title: 'Click here to return to the list of accounts.'
