%h2#page_title #{h @account.name} Holdings
%ul#nav_3
  %li= link_to 'view Transactions', account_transaction_items_path(@account), title: 'Click here to view transaction items for this account.'

%table#holdings_table.list{ cellspacing: 0, cellpadding: 0}
  %tr
    %th Symbol
    %th.number_column Value
    %th.number_column Shares
    %th.number_column Cost
    %th.number_column Gain/Loss
  -@holdings.each do |holding|
    %tr
      %td= link_to holding.commodity.symbol, account_lots_path(holding.account), title: 'Click here to view the lots for this commidity.'
      %td.number_column= format_currency(holding.current_value)
      %td.number_column= format_shares(holding.total_shares)
      %td.number_column= format_currency(holding.total_cost)
      %td.number_column= format_currency(holding.total_gain_loss)
  %tr.commodity_total_line
    %td Commodity total
    %td.number_column= format_currency(@account.children_value)
    %td &nbsp;
    %td &nbsp;
    %td &nbsp;
  %tr.cash_total_line
    %td Cash
    %td.number_column= format_currency(@account.balance)
    %td &nbsp;
    %td &nbsp;
    %td &nbsp;
  %tr.account_total_line
    %td Total value
    %td.number_column= format_currency(@account.value_with_children)
    %td &nbsp;
    %td.number_column= format_currency(@account.children_cost)
    %td.number_column= format_currency(@account.gain_with_children)
.actions
  =link_to 'Add', new_purchase_account_path(@account), class: 'add_button', title: 'Click here to purchase shares of a commodity.'
  =link_to 'Back', entity_accounts_path(@account.entity), class: 'back_button', title: 'Click here to return to the list of accounts.'
  =link_to 'Reconcile', new_account_reconciliation_path(@account), class: 'reconcile_button', title: 'Click here to reconcile this account against a statement.'
