=content_for :page_title do
  #{h @account.name} Lots in #{h @account.parent.name}

.row
  .col-md-8
    %table#lots_table.table.table-striped
      %tr
        %th.text-right Purchase date
        %th.text-right Shares owned
        %th.text-right Price
        %th.text-right Cost
        %th.text-right Current value
        %th.text-right Gain/loss
        %th.text-right &nbsp;
      -@lots.each do |lot|
        %tr
          %td.text-right= format_date(lot.purchase_date)
          %td.text-right= format_shares(lot.shares_owned)
          %td.text-right= format_price(lot.price)
          %td.text-right= format_currency(lot.cost)
          %td.text-right= format_currency(lot.current_value)
          %td.text-right= format_currency(lot.gains)
          %td.action_cell
            .btn-group
              =link_to new_split_commodity_path(lot.commodity, account_id: @account.id), class: 'btn btn-xs btn-default', title: 'Click here to record a stock split.' do
                %span.glyphicon.glyphicon-resize-full{aria: {hidden: 'true'}}
              =link_to new_transfer_lot_path(lot, account_id: @account.parent.id), class: 'btn btn-xs btn-default', title: 'Click here to transfer this lot to another account.' do
                %span.glyphicon.glyphicon-log-out{aria: {hidden: 'true'}}
              =link_to new_exchange_lot_path(lot, account_id: @account.parent.id), class: 'btn btn-xs btn-default', title: 'Click here to exchange these share for shares of another commodity.' do
                %span.glyphicon.glyphicon-transfer{aria: {hidden: 'true'}}
    .actions.btn-group
      =link_to 'Back', holdings_account_path(@account.parent), class: 'btn btn-default', title: 'Click here to return to the account holdings page.'
