%h2#page_title Budget Report

.filter
  =form_tag({ url: budget_entity_path(@entity) }, method: :get) do
    =select_tag :budget_id, options_from_collection_for_select(@entity.budgets, :id, :name, @filter.budget_id)
    =text_field_tag :start_date, @filter.start_date, class: 'date_field', placeholder: 'Start date'
    =text_field_tag :end_date, @filter.end_date, class: 'date_field', placeholder: 'End date'
    =submit_tag 'Show', class: 'show_button', title: 'Click here to view the report with these filter setttings.'

-if @report
  .report
    %table#budget_report_table{cellspacing: 0, cellpadding: 0}
      %tr
        %th.number_column Account
        %th.number_column Budget
        %th.number_column Actual
        %th.number_column Difference
        %th.number_column % Diff.
        %th.number_column Actual/Mo.
      -@report.content.each do |row|
        %tr{ class: [row.evaluation, row.row_type] }
          %td.number_column= row.account
          %td.number_column= row.budget_amount
          %td.number_column= row.actual_amount
          %td.number_column= row.difference
          %td.number_column= row.percent_difference
          %td.number_column= row.actual_per_month
