!!!
%html
  %head
    %title Money
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    params[:controller], :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags
  %body
    .container-fluid
      #header
        %nav{role: "navigation"}
          #html_nav
            =render_navigation
          #ajax_nav{ style: "display: none;" }
            =render_navigation context: :ajax
      #content
        = render "shared/flash", :flash => flash
        = yield
