!!!
%html
  %head
    %title Money
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    params[:controller], :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags
    -unless suppress_ajax_redirect?
      :javascript
        $(function() {
          // If javascript is enabled, hide the HTML only nav and show the ajax nav
          $('#html_nav').hide();
          $('#ajax_nav').show();
        });
  %body
    .container-fluid
      .row#header
        .col-md-6
          %nav{role: "navigation"}
            #html_nav
              =render_navigation
            #ajax_nav{ style: "display: none;" }
              =render_navigation context: :ajax
        .col-md-1
          -if user_signed_in?
            .current_user
              =current_user.email

      #content
        = render "shared/flash", :flash => flash
        = yield
