%tr{ :id => "account_#{account.id}" }
  %td= account.name
  %td= "%.2f" % account.balance
  %td.action_cell
    = link_to "Edit", edit_account_path(account)
    = render "shared/delete_form", :resource => account, :url => account_path(account)