%tr.account_row{ :id => "account_#{account.id}" }
  %td
    %div{class: "account_depth_#{account.depth}"}= link_to account.name, account_transaction_items_path(account)
  %td.number_column= format_currency(account.balance_with_children)
  %td.action_cell
    = link_to "Edit", edit_account_path(account), class: 'edit_button', title: 'Click here to edit this account.'
    = link_to "Reconcile", new_account_reconciliation_path(account), class: 'reconcile_button', title: 'Click here to reconcile this account with a bank statement.'
    = render "shared/delete_form", :resource => account, :url => account_path(account)
