%table#accounts_table.list{:cellspacing => 0, :cellpadding => 0}
  %tr
    %th Name
    %th Balance
    %th.action_cell &nbsp;
  %tr
    %td Assets
    %td.number_column= "%.2f" % accounts.asset.sum(:balance)
    %td
  -accounts.asset.each do |account|
    =render "accounts/account_row", :account => account
  %tr
    %td Liabilities
    %td.number_column= "%.2f" % accounts.liability.sum(:balance)
    %td
  -accounts.liability.each do |account|
    =render "accounts/account_row", :account => account
  %tr
    %td Equity
    %td.number_column= "%.2f" % accounts.equity.sum(:balance)
    %td
  -accounts.equity.each do |account|
    =render "accounts/account_row", :account => account
  %tr
    %td Income
    %td.number_column= "%.2f" % accounts.income.sum(:balance)
    %td
  -accounts.income.each do |account|
    =render "accounts/account_row", :account => account
  %tr
    %td Expense
    %td.number_column= "%.2f" % accounts.expense.sum(:balance)
    %td
  -accounts.expense.each do |account|
    =render "accounts/account_row", :account => account
.actions
  =link_to 'Add', new_entity_account_path(@entity), class: 'add_button', title: 'Click here to add an account.'