%table#accounts_table.list{:cellspacing => 0, :cellpadding => 0}
  %tr
    %th Name
    %th Balance
    %th.action_cell &nbsp;
  -accounts.each do |record|
    %tr{ :id => "#{record.identifier}" }
      %td
        %div{class: "account_depth_#{record.depth}"}
          -if record.account
            =link_to record.caption, account_link(record.account)
          -else
            =record.caption
      %td.number_column= format_currency(record.balance)
      %td.action_cell
        -if record.account
          = link_to "Edit", edit_account_path(record.account), class: 'edit_button', title: 'Click here to edit this account.'
          = link_to "Reconcile", new_account_reconciliation_path(record.account), class: 'reconcile_button', title: 'Click here to reconcile this account with a bank statement.'
          = render "shared/delete_form", :resource => record.account, :url => account_path(record.account)
